<form [formGroup]="form">
    <fieldset>
        <label>
            <input type="text" placeholder="Name" formControlName="name">
            Name
        </label>
    </fieldset>
    <fieldset>
        <label>
             <input type="text" placeholder="Email" formControlName="email">
             Email
        </label>
    </fieldset>
    <fieldset>
        <label>
             <input type="text" placeholder="Password" formControlName="password">
             Password
        </label>
    </fieldset>
    <fieldset>
        <label>
            <input type="text" placeholder="Confirm Password" formControlName="confirmPassword">
            Confirm Password
        </label>
    </fieldset>
    <button [disabled]="form.invalid">Register</button>
</form>