<nav class="nav">
    <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
<div class="card-columns">
    <div class="card">
      <img src="" class="card-img-top" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <button (click)="$(this).button('toggle')" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
            Single toggle
          </button>
      </div>
    </div>
</div>